<form name="searchForm" role="form">
  <div class="form-group">
    <label for="productTitle">美食名称</label>
    <input type="text" id="productTitle" placeholder="美食名称" class="form-control">
  </div>
  <div class="form-group">
    <label for="productPrice">美食价格</label>
    <input type="number" id="productPrice" placeholder="美食价格" class="form-control">
  </div>
  <div class="form-group">
    <label for="productCate">美食类别</label>
    <select name="" id="productCate" class="form-control">
      <option value="快餐">快餐</option>
      <option value="外卖">外卖</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">搜索</button>
  </div>



</form>
